<div id="<%= dom_id bet %>">
  <p>
    <strong>Value:</strong>
    <%= bet.value %>
  </p>

  <p>
    <strong>Predicted result:</strong>
    <%= bet.predicted_result %>
  </p>

  <p>
    <strong>Actual result:</strong>
    <%= bet.actual_result %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= bet.status %>
  </p>

  <p>
    <strong>User:</strong>
    <%= bet.user_id %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= bet.event_id %>
  </p>

</div>
