<p style="color: green"><%= notice %></p>

<h1>Bets</h1>

<table>
  <thead>
    <tr>
      <th>Value</th>
      <th>Predicted Result</th>
      <th>Actual Result</th>
      <th>Status</th>
      <th>User</th>
      <th>Event</th>
    </tr>
  </thead>

  <tbody>
    <% @bets.each do |bet| %>
      <tr>
        <td><%= bet.value %></td>
        <td><%= bet.predicted_result %></td>
        <td><%= bet.actual_result %></td>
        <td><%= bet.status %></td>
        <td><%= bet.user.name %></td>
        <td><%= bet.event.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
